<h3>Botones normales</h3>
<div>
  <button mat-button>Basico</button>
<button mat-button color="primary">Color primario</button>
</div>

<h3>Botones con elevacion</h3>
<div>
  <button mat-raised-button>Basico</button>
  <button mat-raised-button color="primary">Primario Basico</button>
</div>

<h3>Botones con iconos</h3>
<div>
  <button mat-icon-button>
    <mat-icon>grade</mat-icon>
  </button>

  <button mat-icon-button color="primary">
    <mat-icon>grade</mat-icon>
  </button>
</div>

<h3>Botones de Accion Flotantes (FAB)</h3>
<div>
  <button mat-fab>
    <mat-icon>grade</mat-icon>
  </button>

  <button mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>